@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header{
    background-color: rgba(105, 160, 133, 1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 80px;
    
}


.knopka{
    margin-top: 30px;
    width: 250px ;
    height: 50px;
    font-size: 26px;
    background-color: rgba(105, 160, 133, 1);
    border-radius: 30px;
    margin-left: 30px;
    padding-left: 30px;
    cursor: pointer;
}
