*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

header {
display: flex;
justify-content: center;
align-items: center;   
}

header div{
box-sizing: border-box;
background-color:#92FFF8;
height: 100px;
width: 1000px;
text-align: center;
font-size: 48px;
border-radius: 30px;
padding: 20px;
border: 1px solid black;
}

p{
font-size: 48px;
margin-left: 30px;
margin-top: 30px;
}

input{
margin-left: 30px;
height: 50px;
width: 300px;
border-radius: 30px;
font-size: 30px;
padding-left: 10px;
}

button, .knopka{
margin-top: 30px;
width: 320px;
height: 80px;
font-size: 48px;
background-color:#92FFF8;
border-radius: 30px;
margin-left: 30px;
}